.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  &__button {
    font-family: Roboto, sans-serif;
    padding: 10px 30px;
    width: auto;
    border: none;
    color: black;
    background-color: #fff;
    outline: none;
    &--primary {
      background-color: $primary-color;
      color: #fff;
    }
    &--secondary {
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: black;
      background-color: #fff;
    }
    cursor: pointer;
    &--disabled {
      background-color: rgba(0, 0, 0, 0.4);
      cursor: default;
    }
  }
}
