.field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
  &__label,
  &__input {
    width: 100%;
    font-family: Roboto, sans-serif;
  }
  &__label {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__input {
    height: 26px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    &:focus {
      border-bottom: 2px solid #0061ff;
    }
    &--error {
      border-bottom: 1px solid #d8000c;
      &:focus {
        border-bottom: 2px solid #d8000c;
      }
    }
  }
  &__error {
    padding: 5px 0;
    color: #d8000c;
  }
}
