a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  &:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }
  &.link {
    &__edit {
      &:hover {
        color: $primary-color;
      }
    }
    &__delete {
      &:hover {
        color: $error-color;
      }
    }
    &:hover {
      border-bottom: none;
    }
  }
}
